@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.ant-breadcrumb li {
  display: flex;
  align-items: center;
}

.ant-select {
  height: 100%;
}

.ant-select-selector {
  border: 0px !important;
  outline-width: 0px !important;
  box-shadow: none !important;
}

.cm-editor {
  transition: all 0.3s;
  border: 1px solid rgb(156 163 175);
  padding-top: 0.45rem;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;

  border-radius: 0.25rem;
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
  outline: 0px !important;
}

.json-editor > .cm-theme-light {
  height: 100%;
}

.json-editor > .cm-theme-light > .cm-editor {
  border: 0px;
  outline: 0px;
}

.cm-editor.cm-focused {
  border-color: rgb(96 165 250);
  outline: 0px !important;
}

.cm-editor:hover {
  border-color: rgb(96 165 250);
  outline: 0px;
}

.customized-ant-spinner {
  height: 100%;
}

.ant-spin-container {
  height: 100% !important;
}

.ant-tabs {
  height: 100% !important;
}

.resource-table-row {
  cursor: pointer;
}

.ant-modal-body {
  padding: 0px !important;
}

.ant-input-number {
  height: 100%;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: rgba(0, 0, 0, 0) !important;
}

.ant-btn-primary {
  background-color: rgb(59 130 246);
}

.ant-btn-primary:disabled {
  background-color: rgb(243 244 246);
}

/* ANTD button is placed using antd modal code need to ensure it's at top */
.ant-modal-close {
  z-index: 100;
}

/* .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
   background: grey;
   border: grey 1px solid;
   }

   .ant-radio-button-wrapper-checked:not([class*=" ant-radio-button-wrapper-disabled"]).ant-radio-button-wrapper:first-child {
   border-right: grey 1px solid
   }
   .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):before {
   background: grey;
   } */


/* ANTD alts Collapse  */
.ant-collapse-header {
    padding: 0.5rem !important;
    align-items: center !important;
}

.ant-collapse-content-box {
    padding: 0.5rem !important;
    padding-top: 0 !important;
}
